.footer {
    background-color: #00000088;
    border-radius: 20px;
    margin: 20px auto;
    width: calc(100% - 40px);
    padding: 2%;
    color: #fff;
}

.rolunk-gyik-visszakuldes{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rolunk-gyik-visszakuldes-link{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.rolunk-gyik-visszakuldes-link:hover{
    color: #fff;
}

.social-media img{
    height: 32px;
}

.social-media{
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.social-media img:hover{
    transform: translateY(-5px);
    transition: .3s;
}

.social-media img:not(:hover){
    transition: .3s;
}

/* Reszponzivitás */
@media only screen and (max-width: 991px){
    .footer{ 
        margin: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 920px){
    .footer .row{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .footer .col-2, .col-6{
        width: 100%;
        justify-content: center;
    }

    .footer .col-6{
        margin: 20px 0px 20px 0px;
    }

    .rolunk-gyik-visszakuldes, .social-media{
        justify-content: space-evenly;
    }

    .footer .col-6 .rolunk-gyik-visszakuldes{
        flex-wrap: wrap;
    }
}